html, body {
  margin-left: 0px;
  padding-left: 0px;
  background-color: black;
  color: #DDD;
}

a, h2, h3 {
  color: #CC6666;
}

h2 {
  font-size: 20pt;
  margin-top: 40px;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 7pt;
  margin-top: 14pt;
}

#context {
  margin-top: 0;
}

p {
  font-size: 12pt;
  font-family: sans-serif;
  text-align: justify;
}

.container {
  width: 640px;
  margin-left: 185px;

}

.navigation {
  width: 150px;
  position: fixed;
  top: 15px;
  left: 15px;

}

#menu li {
  font-size: 12pt;
  list-style-image: url(arrow.png);
  vertical-align: bottom;
  margin-bottom: 10px;
  margin-left: 10px;;
}

img {
  border-style: solid;
  border-color: #CC6666;
  border-width: 2px;
  width: 500px;
}

.advantage li {
  margin-bottom: 12px;
}
